Source: tachidesk-sorayomi
Section: web
Priority: optional
Maintainer: Mahor <mahor1221@pm.me>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.1
Homepage: https://github.com/Suwayomi/Tachidesk-Sorayomi

Package: tachidesk-sorayomi
Architecture: all
Depends: ${misc:Depends}, zenity
Description: Manga Reader
 A free and open source manga reader server that runs extensions built for Tachiyomi.
 Tachidesk is an independent Tachiyomi compatible software and is not a Fork of Tachiyomi.
